# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.firebase
.env
.env.*
!.env.example
.secret.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tests/catch-card-*.png
tests/aura-preview.png

tests/expansion-preview.png
tests/crate-preview-*.png
tests/tank-preview-*.png
tests/depth-preview.png
